<!-- <div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" [(ngModel)]="loginData.email" required />
      </div>
      <div class="form-group">
          <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha" [(ngModel)]="loginData.senha" required />
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Entrar</button>
  </form>
  <app-toast [message]="toastMessage" [isSuccess]="isSuccess"></app-toast>
</div> -->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>
    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
   

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bem vindo - BLOG</h1>
                                    </div>
                                    <form class="user" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                                        <div class="form-group">
                                            <label for="email">E-mail:</label>
                                            <input type="email" class="form-control form-control-user"
                                             aria-describedby="emailHelp"
                                                placeholder="Enter Email Address..." id="email" name="email" [(ngModel)]="loginData.email" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="senha">Senha:</label>
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password"  name="senha" [(ngModel)]="loginData.senha" required />
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block" [disabled]="!loginForm.valid">Entrar</button>
                                        <!-- <a href="index.html" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </a> -->
                                    </form>
                                    <app-toast [message]="toastMessage" [isSuccess]="isSuccess"></app-toast>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>

</html>
