<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="cadastrousuario.component.css">
</head>
<body>
    <main>
        <h1>Formulário de Cadastro</h1>
        <form id="registrationForm" (ngSubmit)="onSubmit(registrationForm)" #registrationForm="ngForm">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" ngModel required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" ngModel required>
            
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" ngModel required>
            
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" ngModel></textarea>
            
            <button type="submit">Cadastrar</button>
          </form>
          
          
    </main>

</body>
</html>
