<header>
    <h1>Blog</h1>
    <button class="logout" (click)="logout()">Sair</button>
</header>
<main>
    <section class="post-list">
        <h2>Posts</h2>
        <button class="create-post" (click)="navigateToCreatePost()">Criar Post</button>
        <div id="postsContainer">
            <div *ngFor="let post of posts" class="post-card">
                <h3>{{ post.titulo }}</h3>
                <p>{{ post.post }}</p>
                <p class="author">Autor: <span class="author-name">{{ post.usuario?.nome ?? 'Desconhecido' }}</span></p>
                <button class="delete-button" (click)="deletePost(post.id!)" 
                        *ngIf="post.usuario?.id === loggedUserId">Deletar</button>
            </div>
        </div>
    </section>
</main>
